{%- comment -%}
  Renders a price with VAT based on the market's VAT rate from metaobject. In case of CZK currency, the price is taken from the variant's metafield.

  Accepts:
  - price: Integeror float
  - variant_vat_metafield: String

  Usage:
  {% render 'price-with-vat', price: price, variant_vat_metafield: variant.metafield %}
{%- endcomment -%}
{% assign vat_rate_multiplier = shop.metaobjects.vat_rates_by_country[localization.country.iso_code].price_multiplier.value %}

{% assign current_price_vat = product.selected_or_first_available_variant.price | times: vat_rate_multiplier %}
{% assign original_price_vat = product.selected_or_first_available_variant.compare_at_price | times: vat_rate_multiplier %}

<div class="product-pricing">
  {% if original_price_vat > current_price_vat %}
    <span class="price-original">
      {{ original_price_vat | money }}
    </span>
    <span class="price-sale">
      {{ current_price_vat | money }}
    </span>
  {% else %}
    <span class="price-normal">
      {{ current_price_vat | money }}
    </span>
  {% endif %}
</div>
