{%- comment -%}
  Renders a price with VAT based on the market's VAT rate from metaobject. In case of CZK currency, the price is taken from the variant's metafield.

  Accepts:
  - price: Integeror float
  - variant_vat_metafield: String

  Usage:
  {% render 'price-with-vat', price: price, variant_vat_metafield: variant.metafield %}
{%- endcomment -%}
{%- liquid
  # očekává: price = variant.price (v centech)
  assign base_cents = price

  # multiplikátor z metaobjektu, fallback = 1
  assign multiplier = shop.metaobjects.vat_rates_by_country[localization.country.iso_code].price_multiplier.value | default: 1

  # pokud už má trh ceny s daní, nic nenásob (nativně jsou v price)
  assign with_tax_cents = base_cents
  unless shop.taxes_included
    assign with_tax_cents = base_cents | times: multiplier | round: 0
  endunless
-%}
{% if with_tax_cents %}
  <span class="strong price__vat test-price2">
    {{ with_tax_cents | money_without_trailing_zeros }}
  </span>
{% endif %}

