{%- comment -%}
  Renders a price with VAT based on the market's VAT rate from metaobject. In case of CZK currency, the price is taken from the variant's metafield.

  Accepts:
  - price: Integeror float
  - variant_vat_metafield: String

  Usage:
  {% render 'price-with-vat', price: price, variant_vat_metafield: variant.metafield %}
{%- endcomment -%}
{% assign current_price = product.selected_or_first_available_variant.price %}
{% assign original_price = product.selected_or_first_available_variant.compare_at_price %}

<div class="product-pricing">
  {% if original_price > current_price %}
    <span class="price-original">
      {{ original_price | money }}
    </span>
    <span class="price-sale">
      {{ current_price | money }}
    </span>
  {% else %}
    <span class="price-normal">
      {{ current_price | money }}
    </span>
  {% endif %}
</div>