{% comment %}
  Renders a list of product atributes

    Accepts:
    - products: {Array} Array of products to compare
    - product - {Object} Product to show
    - layout: {String} Layout to use ('table', 'flex') - flex will be implemented later

    Usage:
    {% render 'product-attribute-set', products: products, layout: 'table' %}
{% endcomment %}

{% liquid
  assign attribute_names = ''
  assign attribute_keys = ''

  for product in products
    for collection in product.collections
      if collection.metafields.product_attributes.product_attribute_set.value != null
        for attribute in collection.metafields.product_attributes.product_attribute_set.value.list.value
          if attribute_keys contains attribute.metafield_key
            continue
          endif
          assign attribute_names = attribute_names | append: attribute.display_name | append: '|'
          assign attribute_keys = attribute_keys | append: attribute.metafield_key | append: '|'
        endfor
      endif
    endfor
  endfor

  assign attribute_names = attribute_names | split: '|'
  assign attribute_keys = attribute_keys | split: '|'

  assign keys_length = attribute_keys.size | minus: 1
%}

{% if layout == 'table' %}
  {% for i in (0..keys_length) %}
    <tr>
      <th>{{ attribute_names[i] | capitalize }}:</th>
      {% for product in products %}
        {% assign attribute_metafield = product.selected_or_first_available_variant.metafields.product_attributes[attribute_keys[i]] %}
        <td>
          {% render 'metafield-display', attribute_metafield: attribute_metafield %}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
{% elsif layout == 'flex' %}
  {{ products | json }}
  <div>
    {% for product in products %}
      <div class="grid">
        {% for i in (0..keys_length)  %}
          {% assign attribute_metafield = product.selected_or_first_available_variant.metafields.product_attributes[attribute_keys[i]] %}
          <div class="grid__item">
            <h4 class="db font-heading-bold margin0 margin-bottom-1rem h5">{{ attribute_names[i] | capitalize }}</h4>
            <div class="rte">
              {% render 'metafield-display', attribute_metafield: attribute_metafield %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endif %}
