<section>
  <style>
    .chart-fixed {
      padding: 2em;
    }
  </style>
  <div class="chart-fixed">
    <h3>{{ section.settings.heading }}</h3>
    <p>{{ section.settings.description }}</p>
    <div id="chart-white"></div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
      data1 = [180891115, 217964934, 193802909, 215956587, 224070456, 254282001, 324663780, 374654176]
      labels1 = [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022];
      options1 = {
        redrawOnParentResize: true,
        series: [
          {
            name: "Obrat ",
            data: data1
          }
        ],
        markers: {
          size: 8,
          strokeWidth: 5,
          strokeColors: '#fff',
          colors: "#3bc4c4", //['#3ac48e','#069ec6'],
          shape: "circle",
        },
        fill: {
          type: "gradient",
          gradient: {
            shape: "dark",
            colors: "#3bc480", //['#3ac48e','#069ec6'],
            shadeIntensity: 1,
            opacityFrom: 0.9,
            opacityTo: 0.9,
            stops: [0, 70, 100]
          },
        },
        chart: {
          type: 'area',
          height: 300,
          foreColor: '#6D6D6D',
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          colors: ['#3bc4c4'], //#2f9d73
          curve: 'straight' //straight
        },
        xaxis: {
          labels: {
            style: {
              colors: "#000"
            },
          },
          categories: labels1,
        },
        yaxis: {
          min: 0,
          opposite: false,
          forceNiceScale: true,
          showForNullSeries: true,
          axisTicks: {
            show: true
          },
          axisBorder: {
            show: false,
          },
          labels: {
            style: {
              colors: "#000"
            },
            tickAmount: 5,
            formatter: (val, index) => { return parseInt(val) }
          },
        },
      };

      chart1 = new ApexCharts(document.querySelector("#chart-white"), options1)
      chart1.render()
    </script>
  </div>
</section>

{% schema %}
{
  "name": "Chart",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.graph.settings.main.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.graph.settings.heading.label"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.graph.settings.description.label"
    },
    {
      "type": "json",
      "id": "source_data"
    }
  ],
  "presets": [
    {
      "name": "Chart"
    }
  ],
}
{% endschema %}
