{% comment %}Dev mode -- loads configurator from url, so that you can preview it in Shopify template{% endcomment %}
<link rel="stylesheet" href="{{ 'index-BLoczC3Y.css' | asset_url }}">
<script src="{{ 'index-BpqfdP-_.js' | asset_url }}" defer></script>

<div id="root"></div>

{% schema %}
{
  "name": "Product configurator",
  "tag": "section",
  "settings": [
  ],
  "presets": [
    {
      "name": "Product configurator"
    }
  ]
}
{% endschema %}