{% comment %}Dev mode -- loads configurator from url, so that you can preview it in Shopify template{% endcomment %}

<link rel="stylesheet" href="{{ 'index-8q4-Na46.css' | asset_url }}">
<script src="{{ 'index-iDOM8WxF.js' | asset_url }}" defer></script>

<div id="root"></div>

{% schema %}
{
  "name": "Product configurator",
  "tag": "section",
  "settings": [
  ],
  "presets": [
    {
      "name": "Product configurator"
    }
  ]
}
{% endschema %}