{% comment %}Dev mode -- loads configurator from url, so that you can preview it in Shopify template{% endcomment %}
{% comment %}<link rel="stylesheet" href="{{ 'index.css' | asset_url }}">{% endcomment %}
{% comment %}<script href="{{ 'index.js' | asset_url }}" defer></script>{% endcomment %}

<link rel="stylesheet" href="{{ 'index-4QROw8C-.css' | asset_url }}">
<script src="{{ 'index-C81fFdfM.js' | asset_url }}" defer></script>

<div id="root"></div>

{% schema %}
{
  "name": "Product configurator",
  "tag": "section",
  "settings": [
  ],
  "presets": [
    {
      "name": "Product configurator"
    }
  ]
}
{% endschema %}