.video-with-text .grid {
  margin-bottom: 0;
}

.video-with-text .grid__item {
  position: relative;
}

@media screen and (min-width: 750px) {
  .video-with-text__grid--reverse {
    flex-direction: row-reverse;
  }
}

.video-with-text__media {
  min-height: 100%;
  overflow: visible;
}

.video-with-text__media--small {
  height: 19.4rem;
}

.video-with-text__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .video-with-text__media--small {
    height: 31.4rem;
  }

  .video-with-text__media--large {
    height: 69.5rem;
  }
}

.video-with-text__media--placeholder {
  position: relative;
  overflow: hidden;
}

.video-with-text__media--placeholder:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(var(--color-foreground), 0.04);
}

.video-with-text__media--placeholder.video-with-text__media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .video-with-text__media--placeholder.video-with-text__media--adapt {
    height: 30rem;
  }
}

.video-with-text__media--placeholder > svg {
  position: absolute;
  inset-inline-start: 50%;
  max-width: 80rem;
  top: 50%;
  transform: translate(calc(var(--transform-direction) * 50%), -50%);
  fill: currentColor;
}

.video-with-text__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-self: center;
  padding: 4rem calc(3.5rem / var(--font-body-scale)) 5rem;
  position: relative;
  z-index: 1;
}

.video-with-text .grid__item::after {
  content: '';
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-with-text__media-item--two-images {
  --image-width: 55%;
  --image-delta: 3rem;
  padding-top: var(--image-delta);
}

.video-with-text__media-item__one-in-two {
  width: var(--image-width);
}

.video-with-text__media-item__one-in-two:first-child {
  z-index: 1;
}

.video-with-text__media-item__one-in-two:last-child {
  position: absolute;
  top: calc(50% - var(--image-delta) / 2);
  inset-inline-end: 0;
  transform: translateY(-50%);
  z-index: -1;
}

.video-with-text__content--radius {
  border-radius: var(--border-radius-content);
}

.video-with-text__media--radius, .video-with-text__media--radius > * {
  border-radius: var(--border-radius-media);
}

.video-with-text .video-with-text__media-item > * {
  overflow: hidden;
}

.video-with-text__content--mobile-right > * {
  align-self: flex-end;
  text-align: end;
}

.video-with-text__content--mobile-center > * {
  align-self: center;
  text-align: center;
}

.video-with-text--overlap .video-with-text__content {
  width: calc(100% - 3rem);
  margin: -3rem auto 0;
}

.video-with-text__heading--bold {
  font-weight: var(--font-heading-weight-rte-bold);
}

.video-with-text__heading--gradient {
  background: var(--gradient-heading);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.video-with-text__badge {
  padding: 1.2rem 2.4rem;
  font-weight: var(--font-body-weight-medium);
  border: 0.1rem solid rgb(var(--color-foreground));
  border-radius: 10rem;
  line-height: 1;
}

.video-with-text__badge--small {
  font-size: calc(1.4rem * var(--font-body-scale));
}

.video-with-text__badge--medium {
  font-size: calc(1.6rem * var(--font-body-scale));
}

.video-with-text__badge--large {
  font-size: calc(1.8rem * var(--font-body-scale));
}

.video-with-text_icon {
  width: 4.5rem;
}

@media screen and (min-width: 750px) {
  .video-with-text__grid--reverse .video-with-text__content {
    margin-inline-start: auto;
  }

  .video-with-text__content--bottom {
    justify-content: flex-end;
    align-self: flex-end;
  }

  .video-with-text__content--top {
    justify-content: flex-start;
    align-self: flex-start;
  }

  .video-with-text__content--desktop-right > * {
    align-self: flex-end;
    text-align: end;
  }

  .video-with-text__content--desktop-left > * {
    align-self: flex-start;
    text-align: start;
  }

  .video-with-text__content--desktop-center > * {
    align-self: center;
    text-align: center;
  }

  .video-with-text--overlap {
    --overlap-value: 4rem;
    --overlap-media-margin: calc(var(--overlap-value) * (-1));
    --overlap-text-margin: calc(var(--overlap-value) * (-1));
  }

  .video-with-text--overlap .video-with-text__text-item {
    display: flex;
    padding: 3rem 0;
  }

  .video-with-text--overlap .video-with-text__media-item > * {
    width: calc(100% + var(--overlap-value));
    margin-inline-end: var(--overlap-media-margin);
  }

  .video-with-text--overlap .video-with-text__content {
    --padding-page-width: 1.5rem;
    height: auto;
    width: calc(100% + var(--overlap-value));
    margin-top: 0;
    margin-inline-start: var(--overlap-text-margin);
  }

  .video-with-text--overlap > div:not(.page-width):not(.page-width--full) .video-with-text__content {
    margin-inline-end: max(var(--padding-page-width), calc(50vw - (var(--page-width) / 2) + var(--padding-page-width)));
  } 

  .video-with-text--overlap > .page-width--full .video-with-text__content {
    margin-inline-end: max(0rem, calc(50vw - (var(--page-width) / 2)));
  }

  .video-with-text--overlap .video-with-text__grid--reverse .video-with-text__media-item > * {
    margin-inline-start: var(--overlap-text-margin);
    margin-inline-end: 0;
  }

  .video-with-text--overlap .video-with-text__grid--reverse .video-with-text__content {
    margin-inline-end: var(--overlap-text-margin);
  }

  .video-with-text--overlap > div:not(.page-width):not(.page-width--full) .video-with-text__grid--reverse .video-with-text__content {
    margin-inline-start: max(var(--padding-page-width), calc(50vw - (var(--page-width) / 2) + var(--padding-page-width)));
    margin-inline-end: var(--overlap-text-margin);
  } 

  .video-with-text--overlap > .page-width--full .video-with-text__grid--reverse .video-with-text__content {
    margin-inline-start: max(0rem, calc(50vw - (var(--page-width) / 2)));
  }

  .video-with-text--overlap .video-with-text__grid--reverse .video-with-text__text-item {
    justify-content: flex-end;
  }

  .video-with-text--overlap .video-with-text__media-item--top {
    align-self: flex-start;
  }

  .video-with-text--overlap .video-with-text__media-item--middle {
    align-self: center;
  }

  .video-with-text--overlap .video-with-text__media-item--bottom {
    align-self: flex-end;
  }

  .video-with-text.collapse-borders:not(.video-with-text--overlap) .grid:not(.video-with-text__grid--reverse) .video-with-text__content {
    border-inline-start: 0;
  }

  .video-with-text.collapse-borders:not(.video-with-text--overlap) .video-with-text__grid--reverse .video-with-text__content {
    border-inline-end: 0;
  }
}

.video-with-text:not(.collapse-corners, .video-with-text--overlap) .video-with-text__media-item {
  z-index: 2;
}

@media screen and (min-width: 990px) {
  .video-with-text__content {
    padding: 6rem 7rem 6rem;
  }

  .video-with-text--overlap {
    --overlap-value: 7rem;
  }

  .video-with-text--overlap .video-with-text__content {
    --padding-page-width: 5rem;
  }
}

@media screen and (min-width: 1700px) {
  .video-with-text--overlap.video-with-text--media-large {
    --overlap-text-margin: calc(var(--overlap-value) * (-1) - 5rem);
  }
}

@media screen and (min-width: 2300px) {
  .video-with-text--overlap.video-with-text--media-large {
    --overlap-text-margin: calc(var(--overlap-value) * (-1) - 10rem);
  }
}

.video-with-text__content > * + * {
  margin-top: 2rem;
}

.video-with-text__content > .video-with-text__text:empty ~ a {
  margin-top: 2rem;
}

.video-with-text__content > :first-child:is(.video-with-text__heading),
.video-with-text__text--caption:first-child {
  margin-top: 0;
}
.video-with-text__text--caption + .video-with-text__heading {
  margin-top: 1rem;
}

.video-with-text__content :last-child:is(.video-with-text__heading),
.video-with-text__text--caption {
  margin-bottom: 0;
}

.video-with-text__content .button + .video-with-text__text {
  margin-top: 2rem;
}

.video-with-text__content .video-with-text__text + .button {
  margin-top: 3rem;
}

.video-with-text__heading {
  margin-bottom: 0;
}

.video-with-text__text p {
  word-break: break-word;
  margin-top: 0;
  margin-bottom: 1rem;
}

.video-with-text__text.rte {
  --color-link: var(--color-foreground);
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .video-with-text .grid {
    margin-inline-start: 0;
  }
}
