.article-template__content.rte a {
  transition: text-decoration-thickness .1s ease, color .1s ease;
}

.article-template__content.rte a:hover {
  color: rgb(var(--color-highlight));
}

.article-template__content.rte iframe {
  min-width: 100%;
  height: auto;
  aspect-ratio: 560 / 315;
}

.article-template__content.rte img {
  width: 100%;
}

.article-template__content.rte blockquote {
  background: #f5f5f5;
  padding: 4.5rem;
  margin-bottom: 7.5rem;
  text-align: left;
  position: relative;
  font-size: 3rem;
  line-height: 1.4em;
  font-style: italic;
  border-inline-start: none;
}

.article-template__content.rte blockquote::before,
.article-template__content.rte blockquote::after {
  font-family: Barlow, sans-serif;
  font-weight: 700;
  display: block;
  font-size: 121px;
  line-height: 0;
  position: absolute;
  color: rgb(var(--color-button));
}

.article-template__content.rte blockquote::before {
  content: "“";
  top: 24px;
  left: 23px;
}

.article-template__content.rte blockquote::after {
  content: "“";
  bottom: -22px;
  right: 58px;
}

.rte aside {
  color: rgb(var(--color-button-text));
  background-color: rgb(var(--color-button));
  padding: 1.25em 2.375em;
}

.rte ul li::marker {
  font-size: 1.6em;
  line-height: 0;
  color: #dc4405;
}

.rte ol li::marker {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  color: #dc4405;
}

.rte table,
.rte table:not([class]) {
  border: none;
  border-collapse: collapse;
  width: 100%;
}

.rte table tr td:first-child,
.rte table tr th:first-child {
  padding-left: 30px;
}

.rte table tr th,
.rte table:not([class]) tr th {
  font-weight: 600;
  background: #00ade9;
  color: #fff;
  border: none;
}

.rte table tr:first-child th:nth-child(2n) {
  background: #0ca8de;
}

.rte table tr td {
  background: #fef6f3;
  padding: 12px 15px;
  color: #000;
  font-size: 1.6rem;
  line-height: 1.2em;
  border: none;
}

.rte table tr:nth-child(2n) td {
  background: #fff;
}

.rte table th td:nth-child(2n) {
  background: #0ca8de;
}

.rte table tr td:nth-child(2n) {
  background: #fdeee7;
}

.rte table tr:nth-child(2n) td:nth-child(2n) {
  background: #fef6f3;
}

.rte table td,
.rte table th {
  border: 1px solid;
  padding: .5em;
}
.newsletter__grid .newsletter__subheading.image-with-text__text.color-foreground.light {
  opacity: 1;
}
.newsletter__grid .newsletter__subheading.image-with-text__text.color-foreground.light.rte a {
  opacity: 1;
  color: #fff;
}
.article-template__content.rte a {
  color: #00A9E0;
}
@media (max-width: 749px) {
  .slider-component-full-width .slideshow__controls {
    top: 50%;
    height: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }
  .slider-component-full-width button.slider__autoplay {
    display: none;
  }
  .slider-component-full-width .slider-button--transparent {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 4rem;
    height: 4rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
  .slider-component-full-width .slideshow__text>* {
    max-width: 75%;
  }
  .grid__item .card-wrapper--product {
    border: 1px solid #e6e6e6;
    padding: 10px;
    box-sizing: border-box;
  }
  .grid__item .card-wrapper--product compare-add-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .grid__item .card-wrapper--product .badge--position-1 {
    top: 0rem;
    inset-inline-start: 0rem;
  }
  .article-template__footer-share {
    flex-direction: row;
  }
  .article-template__footer-share .share-button button{
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: .9rem;
  }
  .article-template__footer-share .share-button button span {
    display: none;
  }
}