.article-template__content.rte a {
  transition: text-decoration-thickness .1s ease, color .1s ease;
}

.article-template__content.rte a:hover {
  color: rgb(var(--color-highlight));
}

.article-template__content.rte iframe {
  min-width: 100%;
  height: auto;
  aspect-ratio: 560 / 315;
}

.article-template__content.rte img {
  width: 100%;
}

.article-template__content.rte blockquote {
  background: #f5f5f5;
  padding: 4.5rem;
  margin-bottom: 7.5rem;
  text-align: left;
  position: relative;
  font-size: 3rem;
  line-height: 1.4em;
  font-style: italic;
  border-inline-start: none;
}

.article-template__content.rte blockquote::before,
.article-template__content.rte blockquote::after {
  font-family: Barlow, sans-serif;
  font-weight: 700;
  display: block;
  font-size: 121px;
  line-height: 0;
  position: absolute;
  color: rgb(var(--color-button));
}

.article-template__content.rte blockquote::before {
  content: "“";
  top: 24px;
  left: 23px;
}

.article-template__content.rte blockquote::after {
  content: "“";
  bottom: -22px;
  right: 58px;
}

.rte aside {
  color: rgb(var(--color-button-text));
  background-color: rgb(var(--color-button));
  padding: 1.25em 2.375em;
}

.rte ul li::marker {
  font-size: 1.6em;
  line-height: 0;
  color: #dc4405;
}

.rte ol li::marker {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  color: #dc4405;
}

.rte table,
.rte table:not([class]) {
  border: none;
  border-collapse: collapse;
  width: 100%;
}

.rte table tr td:first-child,
.rte table tr th:first-child {
  padding-left: 30px;
}

.rte table tr th,
.rte table:not([class]) tr th {
  font-weight: 600;
  background: #00ade9;
  color: #fff;
  border: none;
}

.rte table tr:first-child th:nth-child(2n) {
  background: #0ca8de;
}

.rte table tr td {
  background: #fef6f3;
  padding: 12px 15px;
  color: #000;
  font-size: 1.6rem;
  line-height: 1.2em;
  border: none;
}

.rte table tr:nth-child(2n) td {
  background: #fff;
}

.rte table th td:nth-child(2n) {
  background: #0ca8de;
}

.rte table tr td:nth-child(2n) {
  background: #fdeee7;
}

.rte table tr:nth-child(2n) td:nth-child(2n) {
  background: #fef6f3;
}

.rte table td,
.rte table th {
  border: 1px solid;
  padding: .5em;
}
.newsletter__grid .newsletter__subheading.image-with-text__text.color-foreground.light {
  opacity: 1;
}
.newsletter__grid .newsletter__subheading.image-with-text__text.color-foreground.light.rte a {
  opacity: 1;
  color: #fff;
}
.article-template__content.rte a {
  color: #00A9E0;
}
.free-shipping-bar-desktop {
  display: block;
}
.free-shipping-bar-mobile {
  display: none;
}
.product__info-container .share-button__button {
    color: rgb(var(--color-foreground), .7);
    box-shadow: none;
    background-color: transparent;
    border: none;
    padding: 0;
}

.product__info-container #wishlisthero-product-page-button-container button{
    background: none!important;
    border: none!important;
    padding: 0px!important;
    color: rgb(var(--color-foreground), .7)!important;
    box-shadow: none;
}
.product__info-container #wishlisthero-product-page-button-container button svg path {
  fill: black;
}
.product__info-container .share-button__button:hover {
    color: rgb(var(--color-foreground), 1)!important;
}
.product__info-container .share-button__button:before, .product__info-container #wishlisthero-product-page-button-container button:before {
  display: none;
}
.product__info-container #wishlisthero-product-page-button-container button:hover{
    color: rgb(var(--color-foreground), 1)!important;
}
.product__info-container .gw-button-widget.gw-button-widget-v2 {
    background: none!important;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='48.000000pt' height='39.000000pt' viewBox='0 0 48.000000 39.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,39.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M200 343 c-66 -24 -104 -165 -59 -220 16 -19 63 -16 82 5 19 21 24%0A122 7 122 -5 0 -10 -25 -10 -55 0 -45 -4 -56 -21 -65 -49 -27 -77 57 -45 134%0A30 71 110 89 160 37 16 -16 41 -35 57 -41 56 -23 26 -80 -41 -80 -29 0 -42 -5%0A-50 -19 -13 -25 -13 -91 0 -111 11 -17 11 -16 13 55 l2 50 42 3 c75 5 114 87%0A53 112 -16 7 -45 27 -64 46 -28 27 -43 34 -73 33 -21 0 -45 -3 -53 -6z'/%3E%3Cpath d='M85 104 c-18 -14 -24 -24 -15 -24 20 1 65 36 54 43 -5 3 -23 -6 -39%0A-19z'/%3E%3C/g%3E%3C/svg%3E")!important;
    background-size: 22px auto !important;
    background-repeat: no-repeat !important;
    background-position: center left !important;
    border: none !important;
    box-shadow: none !important;
    font-weight: 500 !important;
    color: rgb(var(--color-foreground), .7) !important;
    font-size: 14px !important;
    padding-left: 26px;
    width: 288px;
    margin-top: 0;
    justify-content: flex-start;
    padding-left: 33px;
}
.product__info-container .gw-button-widget.gw-button-widget-v2:hover {
    color: rgb(var(--color-foreground), 1)!important;
}
  .article-tags li.article-tags__item {
    line-height: 22px;
    color: #808080;
    font-size: 1.2rem;
    background: #eee;
  }
  .slider-component-full-width .slideshow__controls {
    top: 50%;
    height: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .slider-component-full-width button.slider__autoplay {
    display: none;
  }
  .slider-component-full-width .slider-button--transparent {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 5rem;
    height: 5rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
  .grid__item .card-wrapper--product compare-add-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .article-template__footer-share {
    flex-direction: row;
  }
  .article-template__footer-share .share-button button{
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: .9rem;
  }
  .article-template__footer-share .share-button button span {
    display: none;
  }
  .article-template__footer-share .share-button button svg {
    fill: rgb(var(--color-foreground));
  }
  .blog-tags__list {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
    flex-wrap: nowrap;
    white-space: nowrap;
    place-self: flex-start;
    position: static;
    margin-top: 0 !important;
  }
.blog-tags.page-width:after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0px;
    right: 5rem;
    height: 100%;
    width: 71px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    transition-duration: 300ms;
      border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
  }
  .mobile-tag-swip {
    border-radius: 12px;
    border: 1px solid rgb(var(--color-foreground), 0.05);
    background: rgb(var(--color-background));
    box-shadow: 0px 1px 2px 0px rgb(var(--color-foreground), 0.05), 0px 1px 3px 0px rgb(var(--color-foreground), 0.07);
    overflow-x: scroll;
    width:100%;
    position: relative;
  }
@media (min-width: 750px) {
.blog-tags.page-width {
    margin-top: -5rem;
    transform: translateY(-50%);
    position: relative;
}
}
  @media (min-width: 990px) {
    .card__quick-buttons {
        position: static;
    }
  .card-wrapper--product:hover:after {
        height: calc(100% + var(--product-card-shadow-distance) - 40px)!important;
    }
}
@media (max-width: 1544px) {
  .js .slideshow__text-wrapper {
    max-width: 85%;
  }
}  
@media (max-width: 749px) {
  .blog-tags.page-width:after {
    right: 0;
  }
  .slider-component-full-width .slider-button--transparent {
    width: 4rem;
    height: 4rem;
  }
  .slider-component-full-width .slideshow__text>* {
    max-width: 75%;
  }
  .grid__item .card-wrapper--product {
    border: 1px solid #e6e6e6;
    padding: 10px;
    box-sizing: border-box;
  }
  .grid__item .card-wrapper--product .badge--position-1 {
    top: 0rem;
    inset-inline-start: 0rem;
  }
  .hide-on-mobile {
    display: none !important;
  }
  .page-title.cart-page-title-banner {
    --page-title-height: 3rem;
  }
  .free-shipping-bar-desktop {
    display: none;
  }
  .free-shipping-bar-mobile {
    display: block;
    margin-bottom: 20px;
  }
  button.WtpiW {
    display: none!important
  }
  .cart-item__quantity .quantity__buttons.small-hide {
    display: block !important;
  }
  .page-title {
    padding: 3rem 0!important;
  }
  .product__sale-box__footer {
    gap: 0.5rem!important;
    display: grid;
  }
}