.article-template__content.rte a {
  transition: text-decoration-thickness .1s ease, color .1s ease;
}

.article-template__content.rte a:hover {
  color: rgb(var(--color-highlight));
}

.article-template__content.rte iframe {
  min-width: 100%;
  height: auto;
  aspect-ratio: 560 / 315;
}

.article-template__content.rte img {
  width: 100%;
}

.article-template__content.rte blockquote {
  background: #f5f5f5;
  padding: 4.5rem;
  margin-bottom: 7.5rem;
  text-align: left;
  position: relative;
  font-size: 3rem;
  line-height: 1.4em;
  font-style: italic;
  border-inline-start: none;
}

.article-template__content.rte blockquote::before,
.article-template__content.rte blockquote::after {
  font-family: Barlow, sans-serif;
  font-weight: 700;
  display: block;
  font-size: 121px;
  line-height: 0;
  position: absolute;
  color: rgb(var(--color-button));
}

.article-template__content.rte blockquote::before {
  content: "“";
  top: 24px;
  left: 23px;
}

.article-template__content.rte blockquote::after {
  content: "“";
  bottom: -22px;
  right: 58px;
}

.rte ul li::marker {
  font-size: 1.6em;
  line-height: 0;
  color: #dc4405;
}

.rte ol li::marker {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  color: #dc4405;
}

.rte table {
  border-collapse: collapse;
  width: 100%;
}

.rte table tr td:first-child,
.rte table tr th:first-child {
  padding-left: 30px;
}

.rte table tr th {
  font-weight: 600;
  background: #00ade9;
  color: #fff;
}

.rte table th td:nth-child(2n) {
  background: #0ca8de;
}

.rte table tr td:nth-child(2n) {
    background: #fdeee7;
}

.rte table tr:nth-child(2n) td:nth-child(2n) {
  background: #fef6f3;
}

.rte table tr td {
  background: #fef6f3;
  padding: 12px 15px;
  color: #000;
  font-size: 1.6rem;
  line-height: 1.2em;
  border: none;
}

.rte table td,
.rte table th {
  border: 1px solid;
  padding: .5em;
}