.article-template__content.rte a {
  transition: text-decoration-thickness .1s ease, color .1s ease;
}

.article-template__content.rte a:hover {
  color: rgb(var(--color-highlight));
}

.article-template__content.rte iframe {
  min-width: 100%;
  height: auto;
  aspect-ratio: 560 / 315;
}

.article-template__content.rte img {
  width: 100%;
}

.article-template__content.rte blockquote {
  background: #f5f5f5;
  padding: 4.5rem;
  margin-bottom: 7.5rem;
  text-align: left;
  position: relative;
  font-size: 3rem;
  line-height: 1.4em;
  font-style: italic;
  border-inline-start: none;
}

.article-template__content.rte blockquote::before,
.article-template__content.rte blockquote::after {
  font-family: Barlow, sans-serif;
  font-weight: 700;
  display: block;
  font-size: 121px;
  line-height: 0;
  position: absolute;
  color: rgb(var(--color-button));
}

.article-template__content.rte blockquote::before {
  content: "“";
  top: 24px;
  left: 23px;
}

.article-template__content.rte blockquote::after {
  content: "“";
  bottom: -22px;
  right: 58px;
}

.rte aside {
  color: rgb(var(--color-button-text));
  background-color: rgb(var(--color-button));
  padding: 1.25em 2.375em;
}

.rte ul li::marker {
  font-size: 1.6em;
  line-height: 0;
  color: #dc4405;
}

.rte ol li::marker {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  color: #dc4405;
}

.rte table,
.rte table:not([class]) {
  border: none;
  border-collapse: collapse;
  width: 100%;
}

.rte table tr td:first-child,
.rte table tr th:first-child {
  padding-left: 30px;
}

.rte table tr th,
.rte table:not([class]) tr th {
  font-weight: 600;
  background: #00ade9;
  color: #fff;
  border: none;
}

.rte table tr:first-child th:nth-child(2n) {
  background: #0ca8de;
}

.rte table tr td {
  background: #fef6f3;
  padding: 12px 15px;
  color: #000;
  font-size: 1.6rem;
  line-height: 1.2em;
  border: none;
}

.rte table tr:nth-child(2n) td {
  background: #fff;
}

.rte table th td:nth-child(2n) {
  background: #0ca8de;
}

.rte table tr td:nth-child(2n) {
  background: #fdeee7;
}

.rte table tr:nth-child(2n) td:nth-child(2n) {
  background: #fef6f3;
}

.rte table td,
.rte table th {
  border: 1px solid;
  padding: .5em;
}
.newsletter__grid .newsletter__subheading.image-with-text__text.color-foreground.light {
  opacity: 1;
}
.newsletter__grid .newsletter__subheading.image-with-text__text.color-foreground.light.rte a {
  opacity: 1;
  color: #fff;
}
.article-template__content.rte a {
  color: #00A9E0;
}
.free-shipping-bar-desktop {
  display: block;
}
.free-shipping-bar-mobile {
  display: none;
}
.product__info-container .share-button__button {
    color: rgb(var(--color-foreground), .7);
    box-shadow: none;
    background-color: transparent;
    border: none;
    padding: 0;
}

.product__info-container #wishlisthero-product-page-button-container button{
    background: none!important;
    border: none!important;
    padding: 0px!important;
    color: rgb(var(--color-foreground), .7)!important;
    box-shadow: none;
}
.product__info-container #wishlisthero-product-page-button-container button svg path {
  fill: black;
}
.product__info-container .share-button__button:hover {
    color: rgb(var(--color-foreground), 1)!important;
}
.product__info-container .share-button__button:before, .product__info-container #wishlisthero-product-page-button-container button:before {
  display: none;
}
.product__info-container #wishlisthero-product-page-button-container button:hover{
    color: rgb(var(--color-foreground), 1)!important;
}
.product__info-container .gw-button-widget.gw-button-widget-v2 {
    background: none!important;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='_x32_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='800px' height='800px' viewBox='0 0 512 512' xml:space='preserve'%3E%3Cstyle type='text/css'%3E%3C!%5BCDATA%5B .st0%7Bfill:%23000000;%7D%0A%5D%5D%3E%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M124.755,221.208l4.234,5.813l131.516-101.828c-38.656-49.891-68.422-88.453-68.422-88.453 c-7.359-10.016-17.484-8.922-22.578,2.391l-5.969,13.313c-5.063,11.313-19.109,18.344-31.188,15.594L18.552,42.317 C6.474,39.583-1.729,47.333,0.317,59.567l8.609,51.094c2.031,12.219,13.625,24.359,25.75,27l63.672,13.75 c12.125,2.625,11.875,4.453-0.5,4.109l-35.531-1.094c-12.391-0.344-18.141,8.234-12.766,19.094 c5.375,10.891,19.75,21.594,31.922,23.875l7.891,1.453C101.552,201.114,117.474,211.161,124.755,221.208z'/%3E%3Cpath class='st0' d='M508.317,245.27c-4.313-18.094-12.516-9.297-15.938-3.094c-2.781,5.047-28.703,58.297-69.813,90.344 c-25.094-31.031-86.219-109.531-139.219-177.859L150.802,257.286l17.188,24.531c-20,53.641-59.109,164.437-59.109,164.437 c-4.953,13.953,2.406,29.297,16.484,34.297c14.016,5.031,27.109-2.469,33.156-16.656l56.328-115.14l18.453,26.313 c-7,7.703-11.516,17.75-11.719,28.938l-0.25,12.078c-1.063,0-2.156,0-3.156,0c-58.469,0-61.719,64.953-3.25,64.953 c16.25,0,94.203,0,94.203,0s26,0,87.703,0c60.813,0,79.938-47.406,60.828-96.015C481.427,360.598,524.896,305.833,508.317,245.27z' /%3E%3C/g%3E%3C/svg%3E")!important;
    background-size: 17px auto !important;
    background-repeat: no-repeat !important;
    background-position: center left !important;
    border: none !important;
    box-shadow: none !important;
    font-weight: 500 !important;
    color: rgb(var(--color-foreground), .7) !important;
    font-size: 14px !important;
    padding-left: 26px;
      width: 288px;
    margin-top: 0;
}
.product__info-container .gw-button-widget.gw-button-widget-v2:hover {
    color: rgb(var(--color-foreground), 1)!important;
}
@media (max-width: 749px) {
  .slider-component-full-width .slideshow__controls {
    top: 50%;
    height: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }
  .slider-component-full-width button.slider__autoplay {
    display: none;
  }
  .slider-component-full-width .slider-button--transparent {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 4rem;
    height: 4rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
  .slider-component-full-width .slideshow__text>* {
    max-width: 75%;
  }
  .grid__item .card-wrapper--product {
    border: 1px solid #e6e6e6;
    padding: 10px;
    box-sizing: border-box;
  }
  .grid__item .card-wrapper--product compare-add-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .grid__item .card-wrapper--product .badge--position-1 {
    top: 0rem;
    inset-inline-start: 0rem;
  }
  .article-template__footer-share {
    flex-direction: row;
  }
  .article-template__footer-share .share-button button{
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: .9rem;
  }
  .article-template__footer-share .share-button button span {
    display: none;
  }
  .article-template__footer-share .share-button button svg {
    fill: rgb(var(--color-foreground));
  }
  .hide-on-mobile {
    display: none !important;
  }
  .page-title.cart-page-title-banner {
    --page-title-height: 3rem;
  }
  .free-shipping-bar-desktop {
    display: none;
  }
  .free-shipping-bar-mobile {
    display: block;
    margin-bottom: 20px;
  }
  button.WtpiW {
    display: none!important
  }
  .cart-item__quantity .quantity__buttons.small-hide {
    display: block !important;
  }
  .article-tags li.article-tags__item {
    line-height: 22px;
    color: #808080;
    font-size: 1.2rem;
    background: #eee;
  }
  .blog-tags__list {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
    flex-wrap: nowrap;
    white-space: nowrap;
    place-self: flex-start;
    position: static;
    margin-top: 0 !important;
  }
  .mobile-tag-swip {
    border-radius: 12px;
    border: 1px solid rgb(var(--color-foreground), 0.05);
    background: rgb(var(--color-background));
    box-shadow: 0px 1px 2px 0px rgb(var(--color-foreground), 0.05), 0px 1px 3px 0px rgb(var(--color-foreground), 0.07);
    overflow-x: scroll;
    width:100%;
    position: relative;
  }
  .mobile-tag-swip:after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 71px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    transition-duration: 300ms;
  }
  .page-title {
    padding: 3rem 0!important;
  }
}