.article-template__content.rte > iframe {
  min-width: 100%;
  height: auto;
  aspect-ratio: 560 / 315;
}
.article-template__content.rte blockquote {
  background: #f5f5f5;
  padding: 4.5rem;
  margin-bottom: 7.5rem;
  text-align: left;
  position: relative;
  font-size: 3rem;
  line-height: 1.4em;
  font-style: italic;
  border-inline-start: none;
}

.article-template__content.rte blockquote::before,
.article-template__content.rte blockquote::after {
  font-family: Barlow, sans-serif;
  font-weight: 700;
  display: block;
  font-size: 121px;
  line-height: 0;
  position: absolute;
  color: rgb(0, 160, 225);
}

.article-template__content.rte blockquote::before {
  content: "“";
  top: 24px;
  left: 23px;
}

.article-template__content.rte blockquote::after {
  content: "“";
  bottom: -22px;
  right: 58px;
}