body.lb-disable-scrolling {
    overflow: hidden;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: fixed;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
    outline: none;
    display: block;
    top: 100px;
    left: calc(50% - 600px);
    height: calc(100vh - 200px);
    background: #fff;
    width: 1200px;
}

.lightbox .lb-image {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: contain;
    background-position: center center;
    transition: all .3s ease-in-out;
}

.lightbox a img {
    border: none;
}

.lb-outerContainer {
    padding: 0;
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(loading.gif) no-repeat;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.lb-container > .nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-arrow {
    width: 46px;
    height: 46px;
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -23px;
    margin-bottom: 15px;
    padding: 2px;
    background: linear-gradient(90deg,#069ec6,#3ac48e);
    border-radius: 100%;
}

.lb-prev {
    left: 50px;
}

.lb-next {
    right: 50px;
}

.lb-arrow .circle {
    width: 42px;
    background-color: #fff;
    padding: 10px;
    height: 42px;
    position: relative;
    display: block;
    border-radius: 100%;
}

.lb-prev .circle .icon {
    height: 22px;
    display: block;
    background: url(prev.png) no-repeat;
    background-size: 22px 22px;
    margin-left: -5px;
    filter: brightness(0)
}

.lb-next .circle .icon {
    height: 22px;
    display: block;
    background: url(next.png) no-repeat;
    background-size: 22px 22px;
    margin-left: 5px;
    filter: brightness(0)
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #ccc;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-caption a {
    color: #4ae;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}

.lb-close {
    position: absolute;
    display: block;
    width: 25px;
    height: 30px;
    top: 0;
    right: -40px;
    cursor: pointer;
    z-index: 100000;
    background: url(close.png) top right no-repeat;
    transition: all .3s ease-in-out;
}

.lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    transform: rotate(90deg);
}

.lb-main-picture-block {
    transition: all .3s ease-in-out;
    width: calc(100% - 200px);
    height: calc(100vh - 200px);
    padding: 30px 30px 45px 30px;
    position: relative;
}