.timeline-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 1420px;
    padding-left: 10px;
    padding-right: 10px;
}

.timeline-main-text {
    max-width: 690px;
    display: block;
    margin: 0 auto 80px;
}

.subtitle-text {
    text-align: center;
}

.timeline-title {
    margin-bottom: 25px;
}

.timeline {
    position: relative;
    display: block;
}

.timeline::before {
    content: "";
    position: absolute;
    display: block;
    width: calc((1920px - 100%)/2);
    height: 2px;
    background-color: #e6edef;
    top: 50%;
    margin-top: -1px;
    right: 100%;
    z-index: 9;
}

.timeline::after {
    content: "";
    position: absolute;
    display: block;
    width: calc((1920px - 100%)/2);
    height: 2px;
    background-color: #e6edef;
    top: 50%;
    margin-top: -1px;
    left: 100%;
    z-index: 8;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-container::after {
    content: "";
    position: absolute;
    display: block;
    left: 100%;
    width: 2000px;
    height: calc(100% + 80px);
    background-color: #fff;
    top: -40px;
    z-index: 9;
}

.swiper-container::before {
    content: "";
    position: absolute;
    display: block;
    right: 100%;
    width: 2000px;
    height: calc(100% + 80px);
    background-color: #fff;
    top: -40px;
    z-index: 9;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    min-height: 350px;
}

.line {
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 2px;
    background-image: linear-gradient(90deg,transparent,transparent 50%,#fff 50%,#fff 100%),linear-gradient(90deg,#069ec6,#3ac48e);
    background-size: 5px 5px,100% 8px;
    z-index: 1;
}

.swiper-button {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    border: 2px solid transparent;
    background: linear-gradient(#fff,#fff) padding-box,linear-gradient(90deg,#069ec6,#3ac48e) border-box;
    z-index: 9;
    border-radius: 100%;
    cursor: pointer;
}

.button-next {
    right: -134px;
}

.button-prev {
    left: -134px;
}

.swiper-button svg {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 7px;
    height: 13px;
}

.swiper-button-disabled {
    cursor: default;
}

.swiper-slide .block {
    width: 100%;
    text-align: center;
    margin-top: -55px;
    cursor: pointer;
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
}

.block.reverse {
    flex-direction: column-reverse;
    margin-top: 55px;
}

.block h3 {
    font-size: 2.4rem;
    text-transform: none;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 0;
}

.block .show {
    font-weight: 400;
    font-size: 1.8rem;
    display: inline-block;
    position: relative;
    color: #000;
    text-decoration: underline;
    margin-bottom: 8px;
}

.block .date {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    background: -webkit-linear-gradient(90deg,#069ec6,#3ac48e);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
}

.block .help-block {
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.plus-dot {
    background: -webkit-linear-gradient(90deg,#069ec6,#3ac48e);
    color: white;
    font-size: 25px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1700px) and (min-width: 0px) {
    .button-next {
        right: -70px;
    }

    .button-prev {
        left: -70px;
    }
}

@media screen and (max-width: 1550px) and (min-width: 0px) {
    .timeline-container {
        width: 1240px;
    }

    .swiper-button {
        width: 40px;
        height: 40px;
        margin-top: -24px;
    }

    .button-next {
        right: -30px;
    }

    .button-prev {
        left: -30px;
    }

    .swiper-slide .block {
        margin-top: -3px;
    }

    .block h3 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 1300px) and (min-width: 0px) {
    .timeline-container {
        width: 968px;
    }

    .timeline-section .timeline-main-text {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 0px) {
    .timeline-container {
        width: 748px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .timeline-section .timeline-main-text {
        margin-bottom: 50px;
    }

    .swiper-button {
        width: 35px;
        height: 35px;
        margin-top: -21px;
    }

    .button-next {
        right: -5px;
    }

    .button-prev {
        left: -5px;
    }

    .swiper-slide {
        min-height: 320px;
    }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
    .timeline-container {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .swiper-slide {
        min-height: 300px;
    }

    .block h3 {
        font-size: 1.9rem;
    }
}

@media screen and (max-width: 480px) and (min-width: 0px) {
    .swiper-slide {
        min-height: 250px;
    }
}

