.gallery-row-padding {
    padding: 0 20px;
    gap: 20px;
}

.gallery-stretch {
    align-items: stretch;
}

.content-block {
    width: unset;
    flex-basis: unset;
    display: block;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 2;
    position: relative;
}

.content-block::after {
    transition: all .3s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 102%;
    height: 102%;
    bottom: -1%;
    left: -1%;
    background: #000;
    background: linear-gradient(0deg,#000 0,rgba(255,255,255,0) 90%);
    transform: rotate(180deg);
}

.content-block:hover::after {
    opacity: 0;
}

.content-block img {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.icon-hover {
    position: absolute;
    transition: all .3s ease-in-out;
    left: 50%;
    top: 50%;
    opacity: 0;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    background-size: 19px 19px;
    background-position: center center;
    background-color: #fff;
    border-radius: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
}

.content-block:hover .icon-hover {
    opacity: 1
}